body, html {
  margin: 0;
  overflow: hidden;
  padding-top: 2%;
  padding-bottom: 0;	
}
.page-header{
	  margin: 0;
	  padding-left: 1%;
}
.debate-panel{
	left:0;
	position: fixed;
	height: 10%; 
	width: 100%;
	top: 55px;
	padding-top: 0;
    padding-bottom: 0;
	padding-right: 0;
    padding-left: 0;
	margin: 0;
	overflow: hidden;
}
.for-panel{
	left:0;
	position: fixed;
	height: 65%; 
	width: 50%;
	top: 15%;
	bottom: 15%;
}
.ag-panel{
	right:0;
	position: fixed;
	height: 65%;
	width: 50%;
	top: 15%;
	bottom: 15%;
}

@media (min-width: 768px){

	
  #left {
	  padding-top: 1%;
    left:0;
	position: fixed;
	height: 67%;
    /*overflow-y: scroll; */
	width: 50%;
	bottom: 15%;
  }
  
  #right {
	  padding-top: 1%;
	right:0;
    position: fixed;
	height: 67%;
    overflow-y: scroll;
    width: 50%;
	bottom: 15%;
  }
}

#left {
  /*text-align: center;*/

}

#right {

 /* text-align: center;*/
}
.container{
	padding-top: 0;
    padding-bottom: 0;
	padding-right: 0;
    padding-left: 0;
}
.jumbotron{
	padding-top: 0;
    padding-bottom: 0;
	padding-right: 0;
    padding-left: 0;
}

.panel-heading{
		padding-top: 0;
    padding-bottom: 0;
text-align: center;
}
.ip{
	position: fixed;
	/*height: 5%;*/
    /*overflow-y: scroll;*/
    width: 50%;
	bottom: 0%;
}
.browse-custom{
	left:0;
	position: fixed;
	overflow-y: scroll;
	height: 100%; 
	width: 100%;
	top: 55px;
	 word-wrap: break-word;
	bottom: 5%;
	  padding-bottom: 2%;
}
.browse-tiles{ 
	width: auto; 
	 height: 100%; 
}
.div{
  height : 100vh;
}
.argument{
	width:100%;
	text-align: left;
}

.form-signin {
padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.btn-facebook {
	  background: #3B5998;
	  border-radius: 0;
	  color: #fff;
	  border-width: 1px;
	  border-style: solid;
	  border-color: #263961; 
	}
	.btn-facebook:link, .btn-facebook:visited {
	  color: #fff;
	}
	.btn-facebook:active, .btn-facebook:hover {
	  background: #263961;
	  color: #fff;
	}
	
.create-custom {
	position: fixed;
	overflow-y: scroll;
	height: 90%; 
	top: 10%;
	padding-top: 5%;
    padding-bottom: 5%;
	padding-right: 5%;
    padding-left: 5%;
}
input.ng-invalid.ng-touched {
	border: 1px solid #DA3637;
}

input.ng-valid.ng-touched {
	border: 1px solid #509D12;
}

.ng-invalid .btn {
	background: gray;
}

.error {
	color: red;
	padding-bottom: 10px;
}
.chat
{
	list-style: none;
	margin: 0;
	padding: 5px;
	position: fixed;
	height: 67%;
	overflow-y: scroll;
	width: 50%;
	bottom: 15%;
}


.chat li
{
	margin-bottom: 10px;
	padding-bottom: 5px;
	border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
	margin-left: 60px;
}

.chat li.right .chat-body
{
	margin-right: 60px;
}


.chat li .chat-body p
{
	margin: 0;
	color: #777777;
}

.lft{
	left:0;
}
.rgt{
	right:0;
}
.panel-footer-left
{
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 5px;
	padding-left: 5px;
}
.imgwidth{
	width:50px;
}
.footDebate{
	bottom:0;
	text-align: center;
}