<div ng-controller="DebateController">
	<div class="debate-panel">
		<div>
			<div class="panel panel-success">
				<h3 class="page-header" ng-show="currentDebate.question">
					{{currentDebate.question}} <small
						ng-show="currentDebate.content.desc">{{currentDebate.content.desc}}</small>
				</h3>
			</div>
		</div>
	</div>
	<div>
		<div class="for-panel panel">
			<div class="panel-heading">
				<strong>FOR</strong>
			</div>
			<div class="col-sm-4" id="left">

				<div class="w3-row" ng-model="currentPArgs">

					<div class="tweet"
						ng-repeat="arg in currentPArgs">
						<div class = "dArg w3-card w3-hover-shadow argument">
						<strong class="fullname">Saru</strong><span class="username">@mybff</span>
						<p class="tweet-text" lang="en">{{arg.content.text}}</p>
						<div class="tweet-actions" ng-show="authenticated">
							<ul>
								<li><span class="icon action-reply"></span> 21</li>
								<li><span class="icon action-retweet"></span> 2</li>
								<li><span class="icon action-favorite"></span> 50</li>
								<li><span class="icon action-more"></span> More</li>
							</ul>
						</div>
					</div>
					</div>
				</div>
			</div>

			<div class="form-group input-group ip" ng-show="authenticated">
				<textarea class="form-control" rows="3" id="comment"
					ng-model="txtPArg" placeholder="Make your point here"></textarea>
				<span class="input-group-addon btn btn-success"
					ng-click="addArgument(txtPArg,'Y')">Enter</span>
			</div>
		</div>

		<div class="ag-panel panel">
			<div class="panel-heading">
				<strong>AGAINST</strong>
			</div>
			<div class="col-sm-4" id="right">

				<div class="w3-row" ng-model="currentNArgs">

					<div class="tweet"
						ng-repeat="arg in currentNArgs">
						<div class = "dArg w3-card w3-hover-shadow argument">
						<strong class="fullname">Saru</strong><span class="username">@mybff</span>
						<p class="tweet-text" lang="en">{{arg.content.text}}</p>
						<div class="tweet-actions" ng-show="authenticated">
							<ul>
								<li><span class="icon action-reply"></span> 21</li>
								<li><span class="icon action-retweet"></span> 2</li>
								<li><span class="icon action-favorite"></span> 50</li>
								<li><span class="icon action-more"></span> More</li>
							</ul>
						</div>
					</div>
					</div>
				</div>
			</div>

			<div class="form-group input-group ip" ng-show="authenticated">
				<textarea class="form-control" rows="3" id="comment"
					ng-model="txtNArg" placeholder="Make your point here"></textarea>
				<span class="input-group-addon btn btn-success"
					ng-click="addArgument(txtNArg,'N')">Enter</span>
			</div>
		</div>
	</div>

</div>

