<div ng-controller="DebateController">
	<div class="debate-panel">
		<div>
			<div class="panel panel-success">
				<h3 class="page-header" ng-show="currentDebate.question">
					{{currentDebate.question}} <small
						ng-show="currentDebate.content.desc">{{currentDebate.content.desc}}</small>
				</h3>
			</div>
		</div>
	</div>
	<div>
		<div class="for-panel panel">
			<div class="panel-heading">
				<strong>FOR</strong>
			</div>
			<div class="col-sm-4" id="left">
					<div class="panel-body">
						<ul class="chat lft" ng-model="currentPArgs">
							<li class="left clearfix" ng-repeat="arg in currentPArgs"><span class="chat-img pull-left">
                            <img ng-src="{{getAvatarSrc('Priya','Saravanan')}}" alt="User Avatar" class="img-circle">
                        </span>
								<div class="chat-body clearfix">
									<div class="header">
										<strong class="primary-font">{{arg.user.firstname+' '+arg.user.lastname}}</strong> <small class="pull-right text-muted">
										<span class="glyphicon glyphicon-time"></span>{{arg.content.crteDt}}</small>
									</div>
									<p>
										{{arg.content.text}}
									</p>
								</div>
							</li>
						</ul>
					</div>
					<div class="panel-footer ip lft" ng-show="currentUser">
						<div class="">
							<textarea id="btn-input" rows="3" class="form-control input-sm" ng-model="txtPArg" placeholder="Make your point here"></textarea>
                        <span class="input-group-addon btn btn-success" ng-click="addArgument(txtPArg,'Y')">
                                Send
                        </span>
						</div>
					</div>
			</div>
		</div>

		<div class="ag-panel panel">
			<div class="panel-heading">
				<strong>AGAINST</strong>
			</div>
			<div class="col-sm-4" id="right">

				<div class="panel-body">
					<ul class="chat rgt" ng-model="currentNArgs">
						<li class="left clearfix" ng-repeat="arg in currentNArgs"><span class="chat-img pull-left">
                            <img ng-src="{{getAvatarSrc('Saravanan','Sampath')}}" alt="User Avatar" class="img-circle">
                        </span>
							<div class="chat-body clearfix">
								<div class="header">
									<strong class="primary-font">{{arg.user.firstname+' '+arg.user.lastname}}</strong> <small class="pull-right text-muted">
									<span class="glyphicon glyphicon-time"></span>{{arg.content.crteDt}}</small>
								</div>
								<p>
									{{arg.content.text}}
								</p>
							</div>
						</li>
					</ul>
				</div>
				<div class="panel-footer ip rgt" ng-show="currentUser">
					<div class="">
						<textarea id="btn-input" rows="3" ng-model="txtNArg" class="form-control input-sm" placeholder="Make your point here"></textarea>
                        <span class="input-group-addon btn btn-success" ng-click="addArgument(txtNArg,'N')">
                                Send
                        </span>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

