
    <div  ng-controller="LoginController" class="container sgbdy">

      <form class="form-signin" name="myform" ng-submit="login()"
    novalidate>
        <h2 class="form-signin-heading">Please sign in</h2>
         <p ng-show="message">{{ message }}</p>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="email" id="inputEmail" class="form-control" placeholder="Email address" ng-model="user.email" required autofocus>
        <p class="error validationerror"
      ng-show="myform.email.$invalid && myform.email.$touched">
      Must be a valid email</p>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" ng-model="user.password" required>
        <p class="error validationerror"
      ng-show="myform.password.$invalid && myform.email.$touched">
      Password is required</p>
        <button class="btn btn-lg btn-primary btn-block" type="submit" ng-disabled="myform.$invalid">Sign in</button>
		<br>
		<p>Or if you have a facebook account</p>
		<a href="" ng-click="loginWithFB()" title="Facebook" class="btn btn-block btn-facebook btn-lg"><i class="fa fa-facebook fa-fw"></i> Sign in with Facebook</a>

      </form>
    </div> <!-- btn-facebook /container -->

